.header {
    width: 100%;
    height: 100px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: sticky;
}
.navbar-conteiner {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.menu{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-list{
    ul{
        list-style: none;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.styles-demo{
    font-size: 30px;
}
.nav-menu{
    ul{
        a{
            text-decoration: none;
            color: black;
        }
        list-style: none;
    }
}
.nav-item :hover{
        color: rgb(19, 73, 223);   
        transition: 0.3s;
}
.demo{
    a{
        text-decoration: none;
        color: black;
    }
}