header {
    width: 100%;
    background-color: rgb(240, 240, 240);
    z-index: 10;
    position: fixed;
}
.navbar-conteiner {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.menu{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-list{
    ul{
        list-style: none;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.styles-demo{
    font-size: 30px;
}
.nav-menu{
    ul{
        a{
            text-decoration: none;
            color: black;
        }
        list-style: none;
    }
}
.nav-item :hover{
        color: rgb(19, 73, 223);   
        transition: 0.3s;
}
.demo{
    a{
        text-decoration: none;
        color: black;
    }
}
.section1{
    img{
        z-index: -1;
        width: 100%;
        height: auto;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .main-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .homeimg{
        width: 100%;
        height: 900px;
    }
    .Pageimg1{
        width: 100%;
        height: 900px;
        position: relative;
    }
    .text1page1{
        font-size: 60px;
        font-weight: bold;
        color: white;
        margin-bottom: 20px;
    }
    .text1page2{
        font-size: 20px;
        color: white;
        margin-bottom: 40px;
    }
    .buttons-conteiner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .button1{
        width: 200px;
        height: 60px;
        background-color: rgb(104, 9, 182);
        color: white;
        border: none;
        cursor: pointer;
    }
    .button2{
        width: 200px;
        height: 60px;
        background-color: transparent;
        color: white;
        border: 2px solid rgb(255, 255, 255);
        cursor: pointer;
    }
}
.section2{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.homeimg2{
    width: 650px;
    height: 450px;
}
.Page2{

    width: 80%;
    height: 600px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Page2-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.text2page1{
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;

}
.text2page2{
    display: flex;
    width: 300px;
}
.button2-conteiner{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.button3{
    width: 150px;
    height: 50px;
    background-color: rgb(104, 9, 182);
    color: white;
    border: none;
    cursor: pointer;
}


.section3{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(223, 219, 214);
}
.homeimg2{
    width: 650px;
    height: 450px;
}
.Page2{
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Page2-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.text2page1{
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;

}
.text2page2{
    display: flex;
    width: 300px;
}
.button2-conteiner{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.button3{
    width: 150px;
    height: 50px;
    background-color: rgb(104, 9, 182);
    color: white;
    border: none;
    cursor: pointer;
}